

.video {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
}

.title {
    text-align: center;
    font-family: SFUIText-Regular;
    color: #333333;
    font-size: 26px;
    line-height: 28px;
    font-weight: normal;
}

.error {
    color: red;
}