.brand {
    border-bottom: solid;
    border-color: #00A7D1;
    width: 100%;
    border-bottom-width: 4px;

}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

:host {
    width: 100%;

}