

.video {
    display: block;
    width: 70%;
    height: 50%;
    margin: auto;
}

@media screen and (max-width: 540px) {
    .video {
        width: 80%;
        height: 70%;
    }
}

.title {
    text-align: center;
    font-family: SFUIText-Regular;
    color: #333333;
    font-size: 26px;
    line-height: 28px;
    font-weight: normal;
}
