html, body {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 16px);
    background-color: #F5F5F5;
}

.footer {
    display: flex;
    align-items: center;
}

.video-container {
    margin: auto;
    display: block;
    border-color: #D7DADE;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
    flex: 1;
    margin: auto;
    display: table;
}

.error {
    color: red;
}